@model IEnumerable<Meeting_App.Models.PollOption>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Answers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poll.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poll.Question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PollOptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PollOptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PollOptionID })
        </td>
    </tr>
}

</table>
