@model IEnumerable<Meeting_App.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action_Item.ActionItem_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decision_Item.DecisionItem_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting.project_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action_Item.ActionItem_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decision_Item.DecisionItem_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.project_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
        </td>
    </tr>
}

</table>
